{{>cabecalho}}
{{>botoes-navegacao}}

<link rel="stylesheet" href="/css/listar-usuarios.css">

<div class="usuarios-content">
    <div class="usuarios-cabecalho">
        <div class="usuarios-titulo">
            <h1>Funcionários Cadastrados</h1>
        </div>
    </div>
    <div class="tabela">
        <div class="secao-tabela">
            <table class="tabela-usuarios" id="tabela-usuarios" border="1">
                <tr class="cabecalho-tabela">
                    <td>Id</td>
                    <td>Nome</td>
                    <td>CPF</td>
                    <td>Nome de Usuário</td>
                    <td>Senha</td>
                    <td>Super Usuário</td>
                </tr>
                {{#each dadosConsultaUsuarios}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td id="coluna-nome-{{this.id}}" style="text-align: left;">
                            <img class="foto-perfil" src="{{this.imagem_perfil}}">
                            {{this.nome}}
                        </td>
                        <td id="coluna-cpf-{{this.id}}">{{this.cpf}}</td>
                        <td id="coluna-nome-usuario-{{this.id}}">{{this.nome_usuario}}</td>
                        <td id="coluna-senha-{{this.id}}">{{this.senha}}</td>
                        <td id="coluna-superuser-{{this.id}}">{{this.superuser}}</td>
                        <td id="coluna-usuarios-{{this.id}}">
                            <i class="bx bx-edit btn-editar" id="btn-editar" onclick="criarElementosEditarAtributo({{this.id}})"></i>
                            <i class="bx bx-x btn-excluir" onclick="criarBotaoConfirmarExclusao({{this.id}})"></i>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<script src="/js/usuarios.js"></script>

{{>rodape}}